In [1]:
# Data Preprocessing Package
import re
import numpy as np
import pandas as pd
import os

# NLP Package
from konlpy.tag import *  
    #영어가 아니므로, 일단 불필요

#설치 안 되어 있으면, conda CLI에서 pip install gensim
import gensim
import gensim.corpora as corpora
from gensim.models import CoherenceModel
from gensim import models
from collections import Counter

# Visualization Package
# 설치가 안되어 있으면, 역시 conda CLI에서 pip install pyLDAvis
import pyLDAvis
import pyLDAvis.gensim_models
import matplotlib.pyplot as plt
%matplotlib inline

#from konlpy.tag import Okt

from pprint import pprint
import itertools
import math

import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.ERROR)
 
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
from nltk.tag import pos_tag
lemma = WordNetLemmatizer()
import nltk
#Data Preprocessing Package
import re
import numpy as np
import pandas as pd
import os
import nltk
from nltk.tokenize import TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
import re
import nltk
#from nltk.tokenize import TreebankWordTokenizer
from nltk.tokenize import WordPunctTokenizer 
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [2]:
df=pd.read_excel('./Data/전처리찐완성.xlsx')

In [45]:
result_data=[i.split() for i in df['nouns']]

In [46]:
words = list(itertools.chain(*result_data))

In [47]:
words = [a[:-1] for a in words]

In [48]:
words[0]

'proactive'

In [49]:
len(words)

550316

In [50]:
stopwords=['rate','number','total','ratio','category','new','site','hyundai,','week','day','date','month','hyundai','hanmi','hanjo','curie','case','line''jeong','pulmuwon','tor','coe','tvkuutfxkr','samsung','hour','year','hyosung','hyundai','tire','time','card','iso','good','key','item','june','end','posco','ton','code','steel''cable','hour','topic']

In [51]:
stopwords

['rate',
 'number',
 'total',
 'ratio',
 'category',
 'new',
 'site',
 'hyundai,',
 'week',
 'day',
 'date',
 'month',
 'hyundai',
 'hanmi',
 'hanjo',
 'curie',
 'case',
 'linejeong',
 'pulmuwon',
 'tor',
 'coe',
 'tvkuutfxkr',
 'samsung',
 'hour',
 'year',
 'hyosung',
 'hyundai',
 'tire',
 'time',
 'card',
 'iso',
 'good',
 'key',
 'item',
 'june',
 'end',
 'posco',
 'ton',
 'code',
 'steelcable',
 'hour',
 'topic']

In [52]:
words = [w for w in words if w not in stopwords]

In [53]:
len(words)

527621

In [40]:
'hyundai,' in words

False

In [13]:
tokenizer = Okt() 
stop_words=nltk.corpus.stopwords.words('english')
stop_words=list(set(stop_words).union(set(sklearn_stop_words)))
tokenizer=WordPunctTokenizer()
lemma = WordNetLemmatizer()

In [14]:
def delv(text):
    tagged = pos_tag(text)
    ads = [t[0] for t in tagged if (t[1] == "NN")or(t[1]=="NNP")or(t[1]=="JJ") ]
    return(ads)

In [41]:
ns = delv(words)

In [23]:
tagged_list = pos_tag(words)

In [193]:
ns = [t[0] for t in tagged_list if (t[1] == "NN")  or  (t[1] == "NNP") or (t[1]=="JJ")]

In [16]:
len(words)

519317

In [17]:
len(ns)

509505

In [80]:
ns = [w for w in ns if w not in stopwords]

In [81]:
len(ns)

509505

In [18]:
ns[0]

'proactive'

In [39]:
tfidfv = TfidfVectorizer(max_features = 501).fit(aa)

In [40]:
tf= pd.DataFrame(tfidfv.transform(aa).toarray())

In [41]:
tf.columns = tfidfv.vocabulary_

In [42]:
tf

,korea,position,career,increase,operation,member,transparency,responsible,governance,expertise,...,approval,remuneration,affiliate,soil,hydrogen,hyundai,tire,oil,doosan,hyosung
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
549922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
549923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
549924,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
549925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
s1=pd.DataFrame(tf.sum())
s1.index.name='word'
s1.columns=['tfidf']

In [44]:
s1=s1.sort_values(by=['tfidf'],ascending=False)

In [45]:
s1.to_excel('tfidf_top501_1209.xlsx')

In [19]:
st=pd.read_csv('./Result/삭제단어.txt', sep = "\t")
stt=list(st.words)

In [20]:
st

          words
0          unit
1         total
2      category
3        target
4          bank
5          rate
6       service
7      domestic
8          sale
9         korea
10      company
11     business
12       number
13         cost
14       annual
15      regular
16       person
17       online
18  developmnet
19      conduct
20        field

In [21]:
stt

['unit',
 'total',
 'category',
 'target',
 'bank',
 'rate',
 'service',
 'domestic',
 'sale',
 'korea',
 'company',
 'business',
 'number',
 'cost',
 'annual',
 'regular',
 'person',
 'online',
 'developmnet',
 'conduct',
 'field']

In [42]:
tfidfv = TfidfVectorizer(max_features = 200).fit(ns) 
tf= pd.DataFrame(tfidfv.transform(ns).toarray())
tf.columns = tfidfv.vocabulary_
s2=pd.DataFrame(tf.sum())
s2.index.name='word'
s2.columns=['tfidf']

In [43]:
s2=s2.sort_values(by=['tfidf'],ascending=False)

In [44]:
s2[:50]

                tfidf
word
ethica         5710.0
genera         4627.0
chemica        4043.0
countr         3988.0
ris            3531.0
ethi           3263.0
communicatio   3084.0
industr        2902.0
gree           2805.0
emergenc       2753.0
violatio       2463.0
tea            2451.0
jo             2410.0
educatio       2405.0
sustainabilit  2350.0
lif            2147.0
cultur         2038.0
constructio    2014.0
cor            2006.0
basi           1989.0
reductio       1973.0
financ         1925.0
goa            1921.0
climat         1886.0
actio          1850.0
practic        1798.0
principl       1768.0
creat          1765.0
projec         1759.0
inspectio      1684.0
channe         1633.0
righ           1591.0
chil           1586.0
respon         1578.0
shar           1574.0
publi          1436.0
shareholde     1410.0
performanc     1393.0
contributio    1392.0
preventio      1367.0
suppl          1355.0
strateg        1334.0
internationa   1331.0
perso          1331.0
subsidiar      1282.0
impac          1280.0
platfor        1277.0
sal            1275.0
facilit        1257.0
targe          1250.0

In [169]:
for a in s2.index:
    if a in stt:
        s2=s2.drop([a])

In [170]:
len(s2)

115

In [171]:
s2[:50]

                 tfidf
word
prevention      6812.0
employee        6733.0
meeting         5105.0
growth          4506.0
ethic           4463.0
status          3796.0
use             3631.0
member          3506.0
support         3161.0
covid           3038.0
program         3006.0
global          2754.0
chemical        2679.0
quality         2673.0
sustainability  2444.0
material        2294.0
measure         2291.0
response        2238.0
green           2202.0
personal        2186.0
culture         2185.0
prevent         2185.0
product         2177.0
level           2154.0
project         2146.0
work            2141.0
plant           2115.0
labor           2096.0
value           2037.0
chain           2026.0
result          1937.0
education       1917.0
impact          1904.0
future          1857.0
process         1788.0
waste           1782.0
market          1746.0
executive       1738.0
climate         1702.0
innovation      1619.0
contribution    1613.0
environmental   1573.0
major           1539.0
policy          1510.0
addition        1510.0
certification   1502.0
shareholder     1486.0
financial       1462.0
assessment      1461.0
training        1458.0

In [172]:
s2.to_excel('./Result/115.xlsx')