In [1]:
import pandas as pd

In [2]:
test=pd.read_excel('report_is_not.xlsx')

In [3]:
test.head()

,Unnamed: 0,종목명,is or not,현재가,시가총액,상장주식수,외국인비율,CEO Message,Materiality Assessment,SDGs,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,삼성전자,1.0,76900.0,4590763.0,5969783.0,51.88,"Dear shareholders, customers, suppliers, and e...",We identify sustainability issues that impact ...,"3,4,5,6,7,8,9,10,12,13,15,17",NaN
2,2,SK하이닉스,1.0,107000.0,778963.0,728002.0,46.71,Even amidst the worldwide COVID-19 pandemic i...,SK hynix has identified a pool of ESG issues t...,"1,3,4,5,6,7,8,9,10,11,12,13,16",NaN
3,3,NAVER,1.0,403500.0,662803.0,164263.0,56.59,"Greetings,\nI am Seong-sook Han, the President...",Materiality Matrix\nTier 3 General issues\nTie...,"4,5,7,8,12,13,16",NaN
4,4,삼성바이오로직스,1.0,923000.0,610703.0,66165.0,10.59,"Dear fellow stakeholders, I would like to expr...",Samsung Biologics evaluated each issue based o...,"3,4,5,6,7,8,9,12,13,15,16",NaN

In [9]:
sdgs=test["SDGs"]
sdgs=list(sdgs.dropna())

In [11]:

data=[]

for i in sdgs:
    a=i.split(',')
    data.append(a)
data

[['3', '4', '5', '6', '7', '8', '9', '10', '12', '13', '15', '17'],
 ['1', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '16'],
 ['4', '5', '7', '8', '12', '13', '16'],
 ['3', '4', '5', '6', '7', '8', '9', '12', '13', '15', '16'],
 ['4', '7', '8', '12', '13', '16', '17'],
 ['4', '6', '7', '8', '9', '11', '12', '13', '16'],
 ['3', '5', '6', '7', '8', '9', '10', '12', '13', '15', '1617', ''],
 ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17'],
 ['1', '3', '5', '6', '7', '8', '10', '12', '13', '15'],
 ['1', '2', '3', '4', '5', '7', '8', '10', '12', '13', '16', '17'],
 ['3', '4', '8', '9', '11', '13', '17'],
 ['1', '3', '4', '5', '7', '8', '10', '12', '13', '17'],
 ['3', '5', '8', '11', '12', '13', '16', ''],
 ['3', '4', '6', '7', '8', '9', '10', '12', '13', '14', '17'],
 ['1', '4', '5', '7', '8', '9', '10', '11', '12', '13', '16', '17'],
 ['1', '4', '8', '9', '12'],
 ['1',
  '2',
  '3',
  '4',
  '5',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17'],
 ['3', '5', '8', '9', '10', '12', '13', '14', '16', '17'],
 ['3', '4', '5', '10', '13'],
 ['1', '2', '3', '4', '10', '17'],
 ['7', '8', '9', '13', '16', '17'],
 ['2', '3', '4', '5', '6', '7', '8', '9', '10', '12', '13', '14', '16', '17'],
 ['2', '3', '4', '5', '6', '7', '8', '9', '12', '13', '14', '16', '17'],
 ['1', '2', '3', '4', '5', '7', '8', '13', '14', '15'],
 ['3', '4', '5', '6', '8', '9', '10', '11', '12', '13', '15', '17'],
 ['1', '2', '3', '4', '8', '9', '10', '11', '15'],
 ['3', '4', '6', '7', '13'],
 ['5', '12', '14', ''],
 ['3', '4', '8', '10'],
 ['3', '4', '6', '7', '8', '9', '10', '12', '16', '14', '16'],
 ['4', '5', '7', '8', '12', '13'],
 ['1', '2', '3', '4', '5', '7', '8', '13'],
 ['1', '3', '4', '5', '7', '8', '9', '10', '12', '13'],
 ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15']]

In [14]:
new_data=[]
for i in data:
    tmp=[]
    for j in range(0,17):
        if str(j+1) in i:
            tmp.append(1)
        else:
            tmp.append(0)
    new_data.append(tmp)

In [15]:
new_data

[[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1],
 [1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0],
 [0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0],
 [0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0],
 [0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1],
 [0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0],
 [0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0],
 [1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1],
 [0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1],
 [1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1],
 [0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0],
 [0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1],
 [1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1],
 [1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 [0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1],
 [0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
 [1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1],
 [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1],
 [0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1],
 [1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0],
 [0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1],
 [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0],
 [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0],
 [0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]]

In [17]:
dfs = pd.DataFrame(data=new_data, columns=["s1","s2","s3",
"s4","s5","s6","s7","s8","s9","s10","s11","s12","s13","s14","s15","s16","s17"])

In [18]:
df2.head()

   s1  s2  s3  s4  s5  s6  s7  s8  s9  s10  s11  s12  s13  s14  s15  s16  s17
0   0   0   1   1   1   1   1   1   1    1    0    1    1    0    1    0    1
1   1   0   1   1   1   1   1   1   1    1    1    1    1    0    0    1    0
2   0   0   0   1   1   0   1   1   0    0    0    1    1    0    0    1    0
3   0   0   1   1   1   1   1   1   1    0    0    1    1    0    1    1    0
4   0   0   0   1   0   0   1   1   0    0    0    1    1    0    0    1    1

In [20]:
df2.to_excel('result.xlsx')